<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cizeta.TraMaAuth.Properties.Settings.TraMaConnectionString"
            connectionString="Data Source=HP8560MD\SQLEXPRESS12;Initial Catalog=TraMa4_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>